@import '../../scss/fonts';
@import '../../scss/variables';

.peers-summary {
  padding: $spacing-small;

  .peer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    margin-bottom: $spacing-small;
    padding: $spacing-small;
    border-radius: $spacing-small;
    background-color: $background;

    .peer-id {
      @include font-size(14px);

      color: $text-color-primary;
      font-family: $font-sans;
      font-weight: 500;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    img {
      width: 16px;
      height: 16px;
      margin-right: $spacing-small;
    }
  }
}
