@import './fonts';
@import './variables';

h1 {
  @include font-size(24px);

  color: $text-color-primary;
  font-family: $font-sans;
  font-weight: bold;
  white-space: nowrap;
}

h2 {
  @include font-size(18px);

  color: $text-color-primary;
  font-family: $font-sans;
  font-weight: bold;
  white-space: nowrap;
}

h4 {
  @include font-size(10px);

  color: $text-color-secondary;
  font-family: $font-sans;
  font-weight: 500;
  text-transform: uppercase;
}

p {
  @include font-size(12px);

  color: $text-color-primary;
  font-family: $font-sans;
}

.secondary {
  color: $text-color-secondary;
}
